{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>

<html>
  <head>
    <title>Sign Up</title>
  </head>

    <div class="signup">
        <body>
          <h2>Create an account</h2>
          <form method="post">
              <label class="label">Username
                  <input type="text" name="username" value="{{username}}">
              </label>

              <label class="error">
                  {{error_username}}
              </label>

              <label class="label">Password
                  <input type="password" name="password" value="">
              </label>

              <label class="error">
                  {{error_password}}
              </label>

              <label class="label">
                  Verify Password
                  <input type="password" name="verify" value="">
              </label>

              <label class="error">
                  {{error_verify}}
              </label>

              <label class="label">
                  Email (optional)
                  <input type="text" name="email" value="{{email}}">
              </label>

              <label class="error">
                  {{error_email}}
              </label>

            <input type="submit">
            <br>
          </form>
        </body>
    </div>

</html>
{% endblock %}